In [38]:
import numpy as np
np.set_printoptions(threshold=50, linewidth=50)

## Tables

In [2]:
from datascience import *

In [3]:
Table(['Even', 'Odd'])

Even | Odd

In [4]:
Table(['Even', 'Odd']).with_row([2, 3])

Even | Odd
2    | 3

In [5]:
Table(['Even', 'Odd']).with_rows([[2, 3], [4, 5]])

Even | Odd
2    | 3
4    | 5

In [6]:
Table().with_column('Odd', np.arange(1, 5, 2))

Odd
1
3

In [7]:
Table().with_columns([
        'Even', [2, 4],
        'Odd', [3, 5]
    ])

Even | Odd
2    | 3
4    | 5

In [8]:
url = 'http://www.census.gov/popest/data/national/asrh/2014/files/NC-EST2014-AGESEX-RES.csv'
full = Table.read_table(url)
full

SEX  | AGE  | CENSUS2010POP | ESTIMATESBASE2010 | POPESTIMATE2010 | POPESTIMATE2011 | POPESTIMATE2012 | POPESTIMATE2013 | POPESTIMATE2014
0    | 0    | 3944153       | 3944160           | 3951330         | 3963071         | 3926665         | 3945610         | 3948350
0    | 1    | 3978070       | 3978090           | 3957888         | 3966510         | 3978006         | 3943077         | 3962123
0    | 2    | 4096929       | 4096939           | 4090862         | 3971573         | 3979952         | 3992690         | 3957772
0    | 3    | 4119040       | 4119051           | 4111920         | 4102501         | 3983049         | 3992425         | 4005190
0    | 4    | 4063170       | 4063186           | 4077552         | 4122303         | 4112638         | 3994047         | 4003448
0    | 5    | 4056858       | 4056872           | 4064653         | 4087713         | 4132210         | 4123408         | 4004858
0    | 6    | 4066381       | 4066412           | 4073013         | 4074979         | 4097780         | 4143094         | 4134352
0    | 7    | 4030579       | 4030594           | 4043047         | 4083240         | 4084964         | 4108615         | 4154000
0    | 8    | 4046486       | 4046497           | 4025604         | 4053206         | 4093213         | 4095827         | 4119524
0    | 9    | 4148353       | 4148369           | 4125415         | 4035769         | 4063193         | 4104133         | 4106832
... (296 rows omitted)

In [9]:
partial = full.select(['SEX', 'AGE', 4, 8])
partial

SEX  | AGE  | POPESTIMATE2010 | POPESTIMATE2014
0    | 0    | 3951330         | 3948350
0    | 1    | 3957888         | 3962123
0    | 2    | 4090862         | 3957772
0    | 3    | 4111920         | 4005190
0    | 4    | 4077552         | 4003448
0    | 5    | 4064653         | 4004858
0    | 6    | 4073013         | 4134352
0    | 7    | 4043047         | 4154000
0    | 8    | 4025604         | 4119524
0    | 9    | 4125415         | 4106832
... (296 rows omitted)

In [10]:
simple = partial.relabeled('POPESTIMATE2010', '2010').relabeled(3, '2014')
simple

SEX  | AGE  | 2010    | 2014
0    | 0    | 3951330 | 3948350
0    | 1    | 3957888 | 3962123
0    | 2    | 4090862 | 3957772
0    | 3    | 4111920 | 4005190
0    | 4    | 4077552 | 4003448
0    | 5    | 4064653 | 4004858
0    | 6    | 4073013 | 4134352
0    | 7    | 4043047 | 4154000
0    | 8    | 4025604 | 4119524
0    | 9    | 4125415 | 4106832
... (296 rows omitted)

In [11]:
simple.column('AGE')

array([  0,   1,   2, ...,  99, 100, 999])

In [12]:
simple.column(1)

array([  0,   1,   2, ...,  99, 100, 999])

In [13]:
simple.column(2).item(3)

4111920

#### Discussion question

In [14]:
census = simple.with_columns([
        'Change', simple.column(3) - simple.column(2), 
        'Growth', (simple.column(3) / simple.column(2)) ** (1/4) - 1])
census

SEX  | AGE  | 2010    | 2014    | Change  | Growth
0    | 0    | 3951330 | 3948350 | -2980   | -0.000188597
0    | 1    | 3957888 | 3962123 | 4235    | 0.000267397
0    | 2    | 4090862 | 3957772 | -133090 | -0.00823453
0    | 3    | 4111920 | 4005190 | -106730 | -0.0065532
0    | 4    | 4077552 | 4003448 | -74104  | -0.00457471
0    | 5    | 4064653 | 4004858 | -59795  | -0.00369821
0    | 6    | 4073013 | 4134352 | 61339   | 0.00374389
0    | 7    | 4043047 | 4154000 | 110953  | 0.00679123
0    | 8    | 4025604 | 4119524 | 93920   | 0.00578232
0    | 9    | 4125415 | 4106832 | -18583  | -0.00112804
... (296 rows omitted)

In [15]:
census.labels

('SEX', 'AGE', '2010', '2014', 'Change', 'Growth')

In [16]:
census.num_rows

306

In [17]:
census.num_columns

6

In [18]:
census.set_format('Growth', PercentFormatter)
census.set_format([2, 3, 4], NumberFormatter)

SEX  | AGE  | 2010        | 2014        | Change    | Growth
0    | 0    | 3,951,330   | 3,948,350   | -2,980    | -0.02%
0    | 1    | 3,957,888   | 3,962,123   | 4,235     | 0.03%
0    | 2    | 4,090,862   | 3,957,772   | -133,090  | -0.82%
0    | 3    | 4,111,920   | 4,005,190   | -106,730  | -0.66%
0    | 4    | 4,077,552   | 4,003,448   | -74,104   | -0.46%
0    | 5    | 4,064,653   | 4,004,858   | -59,795   | -0.37%
0    | 6    | 4,073,013   | 4,134,352   | 61,339    | 0.37%
0    | 7    | 4,043,047   | 4,154,000   | 110,953   | 0.68%
0    | 8    | 4,025,604   | 4,119,524   | 93,920    | 0.58%
0    | 9    | 4,125,415   | 4,106,832   | -18,583   | -0.11%
... (296 rows omitted)

In [19]:
max(census.column('AGE'))

999

## Transformations

In [20]:
totals = census.where('AGE', 999)
totals

SEX  | AGE  | 2010        | 2014        | Change    | Growth
0    | 999  | 309,347,057 | 318,857,056 | 9,509,999 | 0.76%
1    | 999  | 152,089,484 | 156,936,487 | 4,847,003 | 0.79%
2    | 999  | 157,257,573 | 161,920,569 | 4,662,996 | 0.73%

In [21]:
totals.take(0)

SEX  | AGE  | 2010        | 2014        | Change    | Growth
0    | 999  | 309,347,057 | 318,857,056 | 9,509,999 | 0.76%

In [22]:
totals.take([1, 2])

SEX  | AGE  | 2010        | 2014        | Change    | Growth
1    | 999  | 152,089,484 | 156,936,487 | 4,847,003 | 0.79%
2    | 999  | 157,257,573 | 161,920,569 | 4,662,996 | 0.73%

In [23]:
sum(totals.take([1, 2]).column('2014'))

318857056

In [24]:
census.column('AGE') < 999

array([ True,  True,  True, ...,  True,  True, False], dtype=bool)

In [25]:
census.where(census.column('AGE') < 999)

SEX  | AGE  | 2010        | 2014        | Change    | Growth
0    | 0    | 3,951,330   | 3,948,350   | -2,980    | -0.02%
0    | 1    | 3,957,888   | 3,962,123   | 4,235     | 0.03%
0    | 2    | 4,090,862   | 3,957,772   | -133,090  | -0.82%
0    | 3    | 4,111,920   | 4,005,190   | -106,730  | -0.66%
0    | 4    | 4,077,552   | 4,003,448   | -74,104   | -0.46%
0    | 5    | 4,064,653   | 4,004,858   | -59,795   | -0.37%
0    | 6    | 4,073,013   | 4,134,352   | 61,339    | 0.37%
0    | 7    | 4,043,047   | 4,154,000   | 110,953   | 0.68%
0    | 8    | 4,025,604   | 4,119,524   | 93,920    | 0.58%
0    | 9    | 4,125,415   | 4,106,832   | -18,583   | -0.11%
... (293 rows omitted)

In [26]:
females = census.where('SEX', 2)
sum(females.where(females.column('AGE') < 999).column('2014'))

161920569

#### Discussion question

In [27]:
females.where(females.column(3)/females.column(2) >= 1.03).num_rows

52

In [28]:
females.where((females.column('Growth')+1)**4 >= 1.03).num_rows

52

In [29]:
males = census.where('SEX', 1)
males.sort('Growth', descending=True)

SEX  | AGE  | 2010        | 2014        | Change    | Growth
1    | 99   | 6,104       | 9,037       | 2,933     | 10.31%
1    | 100  | 9,351       | 13,729      | 4,378     | 10.08%
1    | 98   | 9,504       | 13,649      | 4,145     | 9.47%
1    | 93   | 60,182      | 85,980      | 25,798    | 9.33%
1    | 96   | 22,022      | 31,235      | 9,213     | 9.13%
1    | 94   | 43,828      | 62,130      | 18,302    | 9.12%
1    | 97   | 14,775      | 20,479      | 5,704     | 8.50%
1    | 95   | 31,736      | 42,824      | 11,088    | 7.78%
1    | 91   | 104,291     | 138,080     | 33,789    | 7.27%
1    | 92   | 83,462      | 109,873     | 26,411    | 7.12%
... (92 rows omitted)

In [30]:
males.where(males.column('Change') > 300000).sort('AGE').show()

In [31]:
males.where(np.logical_and(males.column('AGE') > 55, 
                           males.column('AGE') < 70)).show()

In [32]:
females.where(np.logical_or(females.column('AGE') == 18,
                            females.column('AGE') == 19))

SEX  | AGE  | 2010        | 2014        | Change    | Growth
2    | 18   | 2,185,272   | 2,060,528   | -124,744  | -1.46%
2    | 19   | 2,236,479   | 2,105,604   | -130,875  | -1.50%

## Group

In [33]:
no_sums = census.where(np.logical_and(census.column('AGE') < 999,
                                      census.column('SEX') > 0))
no_sums

SEX  | AGE  | 2010        | 2014        | Change    | Growth
1    | 0    | 2,018,420   | 2,017,857   | -563      | -0.01%
1    | 1    | 2,020,332   | 2,023,253   | 2,921     | 0.04%
1    | 2    | 2,088,685   | 2,022,502   | -66,183   | -0.80%
1    | 3    | 2,101,272   | 2,048,618   | -52,654   | -0.63%
1    | 4    | 2,084,312   | 2,043,498   | -40,814   | -0.49%
1    | 5    | 2,076,573   | 2,043,467   | -33,106   | -0.40%
1    | 6    | 2,079,410   | 2,110,328   | 30,918    | 0.37%
1    | 7    | 2,063,139   | 2,122,240   | 59,101    | 0.71%
1    | 8    | 2,054,462   | 2,105,122   | 50,660    | 0.61%
1    | 9    | 2,107,037   | 2,097,272   | -9,765    | -0.12%
... (192 rows omitted)

In [34]:
no_sums.group('SEX')

SEX  | AGE len | 2010 len | 2014 len | Change len | Growth len
1    | 101     | 101      | 101      | 101        | 101
2    | 101     | 101      | 101      | 101        | 101

In [35]:
no_sums.group('SEX', sum)

SEX  | AGE sum | 2010 sum  | 2014 sum  | Change sum | Growth sum
1    | 5050    | 152089484 | 156936487 | 4847003    | 1.97217
2    | 5050    | 157257573 | 161920569 | 4662996    | 1.32278

In [36]:
no_sums.group('SEX', list)

SEX  | AGE list                       | 2010 list                                              | 2014 list                                              | Change list                                      | Growth list
1    | [  0   1   2 ...,  98  99 100] | [2018420 2020332 2088685 ...,    9504    6104    9351] | [2017857 2023253 2022502 ...,   13649    9037   13729] | [  -563   2921 -66183 ...,   4145   2933   4378] | [ -6.97400564e-05   3.61254690e-04  -8.01751751e-03 ..., ...
2    | [  0   1   2 ...,  98  99 100] | [1932910 1937556 2002177 ...,   37533   26074   45058] | [1930493 1938870 1935270 ...,   46536   32791   58468] | [ -2417   1314 -66907 ...,   9003   6717  13410] | [-0.00031276  0.0001695  -0.00846106 ...,  0.05522226
   ...

In [37]:
pivoted = no_sums.pivot('SEX', 'AGE', '2014', sum)
m_vs_f = pivoted.relabeled(1, 'Male').relabeled(2, 'Female')
m_vs_f.with_column('Diff', m_vs_f.column(2)-m_vs_f.column(1)).show()