In [1]:

import numpy as np
import math
from datascience import *

# These lines set up the plotting functionality and formatting.
import matplotlib

In [5]:
wages = Table.read_table('Data USA - Bar Chart of Wage Distribution for Actuaries-1.csv').relabeled("soc_name", "OCCUPATION")
wages2 = Table.read_table('Data USA - Bar Chart of Race & Ethnicity for Actuaries-2.csv')
wages

year | soc_name  | soc    | num_ppl | num_ppl_moe | wage_bin_name | wage_bin
2014 | Actuaries | 152011 | 644     | 844.789     | < 10K         | A
2014 | Actuaries | 152011 | 829     | 638.834     | $20-30K       | C
2014 | Actuaries | 152011 | 143     | 197.196     | $30-40K       | D
2014 | Actuaries | 152011 | 1080    | 760.719     | $40-50K       | E
2014 | Actuaries | 152011 | 828     | 523.182     | $50-60K       | F
2014 | Actuaries | 152011 | 2416    | 787.474     | $60-70K       | G
2014 | Actuaries | 152011 | 3514    | 1207.44     | $70-80K       | H
2014 | Actuaries | 152011 | 3285    | 1138.68     | $80-90K       | I
2014 | Actuaries | 152011 | 3023    | 1186.02     | $90-100K      | J
2014 | Actuaries | 152011 | 2375    | 908.996     | $100K-110     | K
... (10 rows omitted)